/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@include font-face("Pixel", font-files("pixel.ttf"));

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "Pixel";
}

body {
	background-color: #151d29;
	text-transform: uppercase;
}

* {
	@include box-sizing(border-box);
}


#mobile-wrapper {
	position: absolute;
	width: 375px;
	height: 667px;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -333.5px;
	margin-left: -187.5px;
	@include box-shadow(rgba(255,255,255,0.4) 0 0 34px);
	@include border-radius(4px);
}


#levelContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
}

#titlefield {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.8);
	display: none;
	z-index: 1000;
}

#mainscreen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #589819;
	background-image: url(../img/quiz-quest-splash.jpg);
	background-size: cover;
	background-position: center top;
	text-align: center;
	padding: 10px;
	padding-top: 230px;
	z-index: 100;
	text-transform: uppercase;
	text-align: center;
	img {
		display: inline-block;
	}
	.menu-item {
		padding: 10px;
		border: 1px solid white;
		display: inline-block;
		margin: 15px 0 15px 0;
		color: white;
		font-size: 20px;
		text-align: center;
		@include text-shadow(rgb(0,0,0) 1px 1px 0);
	}
}

#bottom-container {
	font-size: 20px;
	color: white;
	@include text-shadow(rgb(0,0,0) 1px 1px 0);
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
}

#levelContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../img/quiz-background.jpg);
	background-size: cover;
	background-position: center top;
	@include perspective(3000);
	.level-timer {
		position: absolute;
		width: 100%;
		background-color: #fb9817;
		left: 0;
		top: 0;
		height: 10px;
	}

	.answerbutton {
	    text-align: center;
	    margin-top: 20px;
	    border: 1px solid #FF0000;
	    padding: 10px;
	    font-size: 29px;
	}
	.questionContainer {
		color: white;
		position: absolute;
		width: 100%;
		padding: 30px 20px 20px 20px;
		.question {
			color: white;
			text-transform: uppercase;
			font-size: 40px;
			text-align: center;
			@include text-shadow(rgb(0,0,0) 1px 1px 0);

		}
		.alternative {
			padding: 10px;
			border: 1px solid #FF0000;
			margin: 15px 0 15px 0;
			color: white;
			font-size: 20px;
			text-align: center;
			letter-spacing: 1;
			background-color: #BB6A26;
			@include text-shadow(rgb(0,0,0) 1px 1px 0);
			@include transition(0.1s);
			&.correct-answer {
				background-color: #4cc124;
			}
			&.wrong-answer {
				background-color: #FF0000;
			}
			&.selected {
				background-color: #F4A460;
			}
		}
	}
}

