/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@include font-face("Pixel", font-files("pixel.ttf"));

html, body {
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	font-family: "Pixel";
	position:absolute;
}

body {
	background-color: #151d29;
	text-transform: uppercase;
}

* {
	@include box-sizing(border-box);
}


#mobile-wrapper {
	position: absolute;
	width: 375px;
	height: 667px;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -333.5px;
	margin-left: -187.5px;
	@include box-shadow(rgba(255,255,255,0.4) 0 0 34px);
	@include border-radius(4px);
}


#levelContainer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
}

#titlefield {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.8);
	display: none;
	z-index: 1000;
}

#logo {
	color: #efefd5;
	font-size: 30px;
	margin-bottom: 40px;

	span {
		display: block;
		@include text-shadow(#91278f 3px 3px 0);
	}
	span:nth-child(2) {
		font-size: 96px;
	}
}

.janstandard {
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 250px;
	width: 100%;
	background: {
		image: url(../img/retrojan-angry.png);
		repeat: no-repeat;
		size: cover;
		position: top center;
	}
	&.small {
		left: -10px;
		bottom: 54px;
		width: 250px;
	}
	&.rightjan {
		background-image: url(../img/retrojan-thumbs-up.png);
	}
	&.wrongjan {
		background-image: url(../img/retrojan-very-angry.png);
	}
}

#mainscreen {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url(../img/quiz-quest-splash.jpg);
	background-size: cover;
	background-position: center top;
	text-align: center;
	padding: 10px;
	z-index: 100;
	padding-top: 40px;
	text-transform: uppercase;
	text-align: center;
	@include box-shadow(rgb(0,0,0) 0 0 40px);
	img {
		display: inline-block;
	}


}

.menu-item {
	display: inline-block;
	padding: 10px 20px;
	color: #242A31;
	border: 4px solid #242A31;
	background-color: #efefd5;
	font-family: "Pixel";
	font-size: 20px;
	text-transform: uppercase;
}

.plaintext {
	color: #efefd5;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	@include text-shadow(rgb(0,0,0) 2px 2px 0);
	&.small {
		font-size: 11px;
	}
}

.inputbox {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 50% 20px 20px 20px;
	.plaintext {
		display: block;
		text-align: center;
		margin-bottom: 10px;
		&.small {
			margin-top: 14px;
			line-height: 1.5;
		}
	}
	#username-input,
	#email-input {

		width: 100%;
		border: 0;
		padding: 10px;
		background-color: transparent;
		text-transform: uppercase;
		border-bottom: 1px solid #efefd5;
		margin-bottom: 20px;
		font-family: "Pixel";
		text-align: center;
		color: #efefd5;
		outline: none;
		font-size: 30px;
	}
	.button-container {
		text-align: center;
	}
	.submit {
		padding: 10px 20px;
		color: #242A31;
		background-color: #efefd5;
		font-family: "Pixel";
		font-size: 20px;
		border: 0;
		text-transform: uppercase;
		&.invert {
			background-color: #242A31;
			color: #efefd5;
		}
	}
}

#lives {
	height: 30px;
	width: 116px;
	overflow: hidden;
	position: absolute;
	left: 4px;
	bottom: 4px;
	background: {
		image: url(../img/pixel-lives.png);
		size: auto 100%;

	}
}

#loading {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 20px;
	height: 20px;
	background-color: white;
	margin-left: -10px;
	margin-top: -10px;
	z-index: 1000;
	@include animation(loop 1s infinite linear);
	@include box-shadow(rgb(0,0,0) 1px 1px 10px);
}



#authenticationScreen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url(../img/quiz-quest-splash.jpg);
	background-size: cover;
	background-position: center top;
	text-align: center;
	padding: 10px;
	z-index: 101;
	text-transform: uppercase;
	text-align: center;
	padding: 40px 40px 0 40px;
	@include transform(translateX(100%));
	&:before {
		content: "";
		background-color: rgba(0,0,0,0.3);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	@include box-shadow(rgb(0,0,0) 10px 10px 140px);
	img {
		display: inline-block;
	}

	#facebookLoginButton,
	#facebookLogoutButton {
		padding: 10px;
		display: inline-block;
		background-color: red;
		color: #efefd5;
		font-size: 20px;
		letter-spacing: 1px;
		@include box-shadow(rgb(0,0,0) 1px 1px 0);
	}

	#loginNoUser {
		position: absolute;
		right: 10px;
		bottom: 10px;
		color: #efefd5;
		@include text-shadow(rgb(0,0,0) 2px 2px 0);
		font-size: 16px;
		letter-spacing: 1;
	}
}

@include keyframes(loop) {
	0% {
		@include transform(rotate(0) scale(1));
	}
	50% {
		@include transform(rotate(180deg) scale(1.5));
	}
	100% {
		@include transform(rotate(360deg) scale(1));
	}
}

#timer {
	position: absolute;
	left: 0;
	bottom: 40px;
	height: 10px;
	background-color: white;
	width: 100%;
	z-index: 100;
}

#bottomContainer {
	font-size: 20px;
	color: white;
	@include text-shadow(rgb(0,0,0) 1px 1px 0);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
    border-top: 1px solid white;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    @include translateY(40px);
    @include transition(0.25s);
    &.visible {
    	@include translateY(0);
    }

	#score {
		position: absolute;
		width: 50%;
		left: 50%;
		padding: 10px;
		text-align: right;
	}
}


#levelContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-image: url(../img/quiz-background.jpg);
	background-size: cover;
	background-position: center top;
	@include perspective(3000);
	.level-timer {
		position: absolute;
		width: 100%;
		background-color: #fb9817;
		left: 0;
		top: 0;
		height: 10px;
	}

	#countdown {
		position: absolute;
		left: 50%;
		margin-left: -20px;
		font-size: 40px;
		bottom: 50px;
		color: white;
		z-index: 100;
	}

	.answerbutton {
	    text-align: center;
	    margin-top: 20px;
	    background-color: white;
        color: #242A31;
	    padding: 10px;
	    font-size: 29px;
	    &:active {
	    	background-color: #242A31;
	    	color: white;
	    	margin-top: 22px;
	    	padding-bottom: 8px;
	    }
	}
	.questionContainer {
		color: white;
		position: absolute;
		width: 100%;
		padding: 30px 20px 20px 20px;
		.question {
			color: white;
			text-transform: uppercase;
			font-size: 40px;
			text-align: center;
			text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;


		}
		&.multipleChoice {
			.alternative {
				&:before, &:after {
					@include border-radius(4px);
				}
			}
		}
		.alternative {
			padding: 10px;
			padding-left: 65px;
			margin: 15px 0 15px 0;
			color: white;
			font-size: 20px;
			text-align: left;
			letter-spacing: 1;
			background-color: transparent;
			@include text-shadow(rgb(0,0,0) 1px 1px 0);
			@include transition(0.1s);
			position: relative;
    		text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
			&.faded {
				opacity: 0.6;
			}
			&:before {
				position: absolute;
			    width: 40px;
			    height: 40px;
			    border: 1px solid white;
			    left: 0;
			    top: 0;
			    content: "";
			    border-radius: 50%;
			    z-index: 2;
			    @include transition(0.25s);
			}
			&:after {
			    position: absolute;
			    opacity: 0;
			    width: 20px;
			    height: 20px;
			    border: 1px solid white;
			    background-color: white;
			    left: 10px;
			    top: 10px;
			    content: "";
			    border-radius: 50%;
			    z-index: 1;
			    @include transition(0.25s);
			}
			&.correct-answer {
				background-color: #4cc124;
			}
			&.wrong-answer {
				background-color: #FF0000;
			}
			&.selected {
				&:before {
					border: 1px solid black;
					@include transform(scale(-0.5));
				}
				&:after {
					opacity: 1;
					@include transform(scale(2));
				}
			}
		}
	}
}

#statusscreen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: sandybrown;
	padding-top: 10px;
	text-align: center;
	@include translateX(100%);

	#statusscreen-status-and-controls {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
	}

	#statusscreen-level {
		color: #FDEFBF;
		padding-bottom: 4px;
		font-size: 16px;
	}
	#statusscreen-level-number {
		color: #FDEFBF;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: 28px;
		margin-bottom: 80px;
	}
	#statusscreen-title {
	    font-size: 40px;
	}
	#statusscreen-timebonus-info,
	#statusscreen-current-score-info {
		color: #FDEFBF;
		padding-bottom: 4px;
		font-size: 20px;
		text-align: center;
	}
	#statusscreen-timebonus,
	#statusscreen-current-score {
		text-align: center;
		font-size: 30px;
	}

	#statusscreen-level-complete {
    	text-transform: uppercase;
    	font-size: 40px;
    	margin-bottom: 20px;
    	display: none;

    }	

	#statusscreen-timebonus-container {
		display: none;
	}

	#timebonus,
	#current-score {
		font-size: 30px;
	}

	#start-level-button {
		text-shadow: none;
		width: 150px;
		color: #242A31;
	}
	div {
		padding: 10px 20px 10px 20px;
		text-align: center;
	}
	div, span {
		color: white;
		text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
	}
}

