/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Pixel";
  src: url('../fonts/pixel.ttf?1450733770') format('truetype');
}
/* line 10, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: "Pixel";
}

/* line 16, ../sass/screen.scss */
body {
  background-color: blue;
}

/* line 20, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/screen.scss */
#standardLevel {
  display: none;
}

/* line 28, ../sass/screen.scss */
#titlefield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
}

/* line 42, ../sass/screen.scss */
#mainscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #589819;
  text-align: center;
  padding: 10px;
}
/* line 51, ../sass/screen.scss */
#mainscreen img {
  display: inline-block;
}
/* line 54, ../sass/screen.scss */
#mainscreen .menu-item {
  padding: 10px;
  border: 1px solid white;
  margin: 15px 0 15px 0;
  color: white;
  font-size: 20px;
  text-align: center;
  text-shadow: black 1px 1px 0;
}

/* line 65, ../sass/screen.scss */
#mapscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fb9817;
  text-align: center;
  overflow: hidden;
  display: none;
}
/* line 76, ../sass/screen.scss */
#mapscreen .map-screen-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
/* line 85, ../sass/screen.scss */
#mapscreen .map-screen-container .level {
  width: 100%;
  position: relative;
}
/* line 88, ../sass/screen.scss */
#mapscreen .map-screen-container .level:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -5px;
  background-color: #ffd7a2;
}
/* line 99, ../sass/screen.scss */
#mapscreen .map-screen-container .level.selected .level-marker {
  -moz-transform: scale(9);
  -ms-transform: scale(9);
  -webkit-transform: scale(9);
  transform: scale(9);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 103, ../sass/screen.scss */
#mapscreen .map-screen-container .level.selected .level-title,
#mapscreen .map-screen-container .level.selected .level-start-button {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
/* line 110, ../sass/screen.scss */
#mapscreen .map-screen-container .level .level-marker {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fb3109;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: -10px;
  margin-top: -10px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 122, ../sass/screen.scss */
#mapscreen .map-screen-container .level .level-title {
  position: absolute;
  display: block;
  top: 50%;
  width: 100%;
  margin-top: 20px;
  left: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 136, ../sass/screen.scss */
#mapscreen .map-screen-container .level .level-start-button {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-left: -70px;
  width: 140px;
  margin-top: 50px;
  padding: 10px 10px;
  background-color: #943fff;
  left: 50%;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

/* line 158, ../sass/screen.scss */
#standardlevel {
  -moz-perspective: 3000;
  -webkit-perspective: 3000;
  perspective: 3000;
}
/* line 160, ../sass/screen.scss */
#standardlevel .level-timer {
  position: absolute;
  width: 100%;
  background-color: #fb9817;
  left: 0;
  top: 0;
  height: 10px;
}
/* line 168, ../sass/screen.scss */
#standardlevel .question-container {
  color: white;
  position: absolute;
  width: 100%;
  padding: 30px 20px 20px 20px;
}
/* line 173, ../sass/screen.scss */
#standardlevel .question-container .question {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  text-shadow: black 1px 1px 0;
}
/* line 181, ../sass/screen.scss */
#standardlevel .question-container .answer {
  padding: 10px;
  border: 1px solid white;
  margin: 15px 0 15px 0;
  color: white;
  font-size: 20px;
  text-align: center;
  text-shadow: black 1px 1px 0;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 190, ../sass/screen.scss */
#standardlevel .question-container .answer.correct-answer {
  -moz-transform: scale(10px);
  -ms-transform: scale(10px);
  -webkit-transform: scale(10px);
  transform: scale(10px);
}
/* line 193, ../sass/screen.scss */
#standardlevel .question-container .answer.wrong-answer {
  -moz-transform: scale(-10px);
  -ms-transform: scale(-10px);
  -webkit-transform: scale(-10px);
  transform: scale(-10px);
}
