/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Pixel";
  src: url('../fonts/pixel.ttf?1454178579') format('truetype');
}
/* line 10, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  font-family: "Pixel";
  position: absolute;
}

/* line 20, ../sass/screen.scss */
html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 26, ../sass/screen.scss */
body {
  background-color: #151d29;
  text-transform: uppercase;
}

/* line 31, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../sass/screen.scss */
*:not(input, textarea) {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /* Disable selection/Copy of UIWebView */
}

/* line 42, ../sass/screen.scss */
#mobile-wrapper {
  position: absolute;
  width: 375px;
  height: 667px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-top: -333.5px;
  margin-left: -187.5px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0 34px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0 34px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 34px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 55, ../sass/screen.scss */
.screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: hidden;
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  display: none;
  opacity: 0;
}
/* line 67, ../sass/screen.scss */
.screen .screen-header-container {
  margin-bottom: 40px;
}
/* line 70, ../sass/screen.scss */
.screen .screen-custom-container {
  margin-bottom: 40px;
}
/* line 73, ../sass/screen.scss */
.screen .screen-controls-container {
  position: relative;
  z-index: 4000;
}
/* line 76, ../sass/screen.scss */
.screen .screen-controls-container div,
.screen .screen-controls-container img,
.screen .screen-controls-container span {
  margin-bottom: 10px;
}
/* line 82, ../sass/screen.scss */
.screen .screen-header,
.screen .screen-description,
.screen .screen-label,
.screen .screen-number,
.screen .screen-number-big {
  color: white;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
  text-align: center;
}
/* line 92, ../sass/screen.scss */
.screen .screen-header {
  font-size: 40px;
  margin-bottom: 10px;
}
/* line 97, ../sass/screen.scss */
.screen .screen-description {
  color: #c981fc;
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 103, ../sass/screen.scss */
.screen .screen-label {
  color: #c981fc;
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 109, ../sass/screen.scss */
.screen .screen-number-big {
  font-size: 40px;
}
/* line 112, ../sass/screen.scss */
.screen .screen-button-wide {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}
/* line 117, ../sass/screen.scss */
.screen .screen-button-narrow {
  display: block;
  max-width: 20%;
  margin: 0 auto;
}
/* line 122, ../sass/screen.scss */
.screen .screen-bottom-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 128, ../sass/screen.scss */
.screen .screen-bottom-container img {
  max-width: 60%;
  margin: 0 auto;
}

/* line 135, ../sass/screen.scss */
.menu-line {
  text-align: center;
  position: relative;
  z-index: 4000;
}
/* line 139, ../sass/screen.scss */
.menu-line img {
  max-width: 20%;
  margin: 0 10px 0 10px;
}

/* line 145, ../sass/screen.scss */
#titlefield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
}

/* line 159, ../sass/screen.scss */
#logo {
  max-width: 90%;
  margin: 0 auto;
}

/* line 164, ../sass/screen.scss */
.janstandard-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
/* line 170, ../sass/screen.scss */
.janstandard-wrapper img {
  max-width: 60%;
}

/* line 175, ../sass/screen.scss */
.jangame-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  z-index: 150;
}
/* line 181, ../sass/screen.scss */
.jangame-wrapper img {
  max-width: 60%;
}

/* line 186, ../sass/screen.scss */
#mainscreen {
  background-color: black;
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  background-position: center top;
  text-align: center;
  padding: 10px;
  z-index: 100;
  padding-top: 40px;
  text-transform: uppercase;
  text-align: center;
  -moz-box-shadow: black 0 0 40px;
  -webkit-box-shadow: black 0 0 40px;
  box-shadow: black 0 0 40px;
}
/* line 198, ../sass/screen.scss */
#mainscreen img {
  display: inline-block;
}

/* line 205, ../sass/screen.scss */
.menu-item {
  display: inline-block;
  padding: 10px 20px;
  color: #242A31;
  border: 4px solid #242A31;
  background-color: #efefd5;
  font-family: "Pixel";
  font-size: 20px;
  text-transform: uppercase;
}

/* line 216, ../sass/screen.scss */
.plaintext {
  color: #efefd5;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-shadow: black 2px 2px 0;
}
/* line 224, ../sass/screen.scss */
.plaintext.small {
  font-size: 11px;
}

/* line 229, ../sass/screen.scss */
.inputbox {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50% 20px 20px 20px;
}
/* line 237, ../sass/screen.scss */
.inputbox .plaintext {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
/* line 241, ../sass/screen.scss */
.inputbox .plaintext.small {
  margin-top: 14px;
  line-height: 1.5;
}
/* line 246, ../sass/screen.scss */
.inputbox #username-input,
.inputbox #email-input {
  width: 100%;
  border: 0;
  padding: 10px;
  background-color: transparent;
  text-transform: uppercase;
  border-bottom: 1px solid #efefd5;
  margin-bottom: 20px;
  font-family: "Pixel";
  text-align: center;
  color: #efefd5;
  outline: none;
  font-size: 30px;
}
/* line 262, ../sass/screen.scss */
.inputbox .button-container {
  text-align: center;
}
/* line 265, ../sass/screen.scss */
.inputbox .submit {
  padding: 10px 20px;
  color: #242A31;
  background-color: #efefd5;
  font-family: "Pixel";
  font-size: 20px;
  border: 0;
  text-transform: uppercase;
}
/* line 273, ../sass/screen.scss */
.inputbox .submit.invert {
  background-color: #242A31;
  color: #efefd5;
}

/* line 280, ../sass/screen.scss */
#lives {
  height: 30px;
  width: 116px;
  overflow: hidden;
  position: absolute;
  left: 4px;
  bottom: 4px;
  background-image: url(../img/pixel-lives.png);
  background-size: auto 100%;
}

/* line 294, ../sass/screen.scss */
#loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 1000;
  -moz-animation: loop 1s infinite linear;
  -webkit-animation: loop 1s infinite linear;
  animation: loop 1s infinite linear;
  -moz-box-shadow: black 1px 1px 10px;
  -webkit-box-shadow: black 1px 1px 10px;
  box-shadow: black 1px 1px 10px;
}

/* line 311, ../sass/screen.scss */
#authenticationScreen {
  background-color: black;
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  background-position: center top;
  text-align: center;
  padding: 10px;
  z-index: 101;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 40px 0 40px;
  -moz-box-shadow: black 10px 10px 140px;
  -webkit-box-shadow: black 10px 10px 140px;
  box-shadow: black 10px 10px 140px;
}
/* line 322, ../sass/screen.scss */
#authenticationScreen:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 332, ../sass/screen.scss */
#authenticationScreen img {
  display: inline-block;
}
/* line 336, ../sass/screen.scss */
#authenticationScreen #facebookLoginButton,
#authenticationScreen #facebookLogoutButton {
  padding: 10px;
  display: inline-block;
  background-color: red;
  color: #efefd5;
  font-size: 20px;
  letter-spacing: 1px;
  -moz-box-shadow: black 1px 1px 0;
  -webkit-box-shadow: black 1px 1px 0;
  box-shadow: black 1px 1px 0;
}
/* line 347, ../sass/screen.scss */
#authenticationScreen #loginNoUser {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #efefd5;
  text-shadow: black 2px 2px 0;
  font-size: 16px;
  letter-spacing: 1;
}

@-moz-keyframes loop {
  0% {
    -moz-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -moz-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    -moz-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes loop {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@keyframes loop {
  0% {
    -moz-transform: rotate(0) scale(1);
    -ms-transform: rotate(0) scale(1);
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -moz-transform: rotate(180deg) scale(1.5);
    -ms-transform: rotate(180deg) scale(1.5);
    -webkit-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    -moz-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
/* line 370, ../sass/screen.scss */
#timer {
  position: absolute;
  left: 0;
  bottom: 40px;
  height: 10px;
  background-color: white;
  width: 100%;
  z-index: 150;
}

/* line 380, ../sass/screen.scss */
#bottomContainer {
  font-size: 20px;
  color: white;
  text-shadow: black 1px 1px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid white;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 394, ../sass/screen.scss */
#bottomContainer.visible {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 398, ../sass/screen.scss */
#bottomContainer #score {
  position: absolute;
  width: 50%;
  left: 50%;
  padding: 10px;
  text-align: right;
}

/* line 408, ../sass/screen.scss */
#levelContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  background-position: center top;
  -moz-perspective: 3000;
  -webkit-perspective: 3000;
  perspective: 3000;
}
/* line 418, ../sass/screen.scss */
#levelContainer .level-timer {
  position: absolute;
  width: 100%;
  background-color: #fb9817;
  left: 0;
  top: 0;
  height: 10px;
}
/* line 427, ../sass/screen.scss */
#levelContainer #countdown {
  position: absolute;
  left: 0;
  margin-left: 0;
  font-size: 40px;
  bottom: 50px;
  color: white;
  z-index: 150;
  width: 100%;
  padding: 0 20px 0 20px;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
}
/* line 440, ../sass/screen.scss */
#levelContainer #correct {
  position: absolute;
  left: 0;
  margin-left: 0;
  font-size: 40px;
  bottom: 50px;
  color: white;
  z-index: 150;
  width: 100%;
  text-align: right;
  padding: 0 20px 0 20px;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
}
/* line 450, ../sass/screen.scss */
#levelContainer #correct .small {
  font-size: 20px;
}
/* line 458, ../sass/screen.scss */
#levelContainer .answerbutton {
  text-align: center;
  margin: 20px auto 20px auto;
  max-width: 50%;
  display: block;
}
/* line 464, ../sass/screen.scss */
#levelContainer .questionContainer {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 20px 20px 20px;
  z-index: 150 !important;
}
/* line 472, ../sass/screen.scss */
#levelContainer .questionContainer .question {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
}
/* line 483, ../sass/screen.scss */
#levelContainer .questionContainer.multipleChoice .alternative:before, #levelContainer .questionContainer.multipleChoice .alternative:after {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 488, ../sass/screen.scss */
#levelContainer .questionContainer .alternative {
  padding: 10px;
  padding-left: 65px;
  margin: 15px 0 15px 0;
  color: white;
  font-size: 20px;
  text-align: left;
  letter-spacing: 1;
  background-color: transparent;
  text-shadow: black 1px 1px 0;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  position: relative;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
}
/* line 501, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.faded {
  opacity: 0.6;
}
/* line 504, ../sass/screen.scss */
#levelContainer .questionContainer .alternative:before {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  left: 0;
  top: 0;
  content: "";
  border-radius: 50%;
  z-index: 2;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 516, ../sass/screen.scss */
#levelContainer .questionContainer .alternative:after {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: white;
  left: 10px;
  top: 10px;
  content: "";
  border-radius: 50%;
  z-index: 1;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 530, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.correct-answer {
  background-color: #4cc124;
}
/* line 533, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.wrong-answer {
  background-color: #FF0000;
}
/* line 537, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.selected:before {
  border: 1px solid black;
  -moz-transform: scale(-0.5);
  -ms-transform: scale(-0.5);
  -webkit-transform: scale(-0.5);
  transform: scale(-0.5);
}
/* line 541, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.selected:after {
  opacity: 1;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

/* line 550, ../sass/screen.scss */
#statusscreen {
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  text-align: center;
}

/* line 557, ../sass/screen.scss */
#correctAnswersCounter {
  display: inline-block;
}

/* line 565, ../sass/screen.scss */
.half-width {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

/* line 571, ../sass/screen.scss */
.clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 580, ../sass/screen.scss */
.start-button {
  background-image: url(../img/start-button-animated.png);
}

/* line 584, ../sass/screen.scss */
.high-score-button {
  background-image: url(../img/high-score-button-animated.png);
}

/* line 588, ../sass/screen.scss */
.button-round-animated {
  width: 71px;
  height: 71px;
  display: inline-block;
  background-size: auto 100%;
  position: relative;
}
/* line 594, ../sass/screen.scss */
.button-round-animated:active {
  background-position: -71px 0;
}

/* line 599, ../sass/screen.scss */
.answer-button {
  background-image: url(../img/answer-button-animated.png);
}

/* line 602, ../sass/screen.scss */
.to-menu-button {
  background-image: url(../img/to-menu-button-animated.png);
}

/* line 605, ../sass/screen.scss */
.new-game-button {
  background-image: url(../img/new-game-button-animated.png);
}

/* line 609, ../sass/screen.scss */
.go-back-button {
  background-image: url(../img/go-back-button-animated.png);
}

/* line 613, ../sass/screen.scss */
.button-wide {
  width: 155px;
  height: 55px;
  display: block;
  margin: 0 auto;
  background-size: auto 100%;
  position: relative;
}
/* line 620, ../sass/screen.scss */
.button-wide:active {
  background-position: -155px 0;
}

/* line 625, ../sass/screen.scss */
.over-background {
  position: relative;
  z-index: 101;
}

/* line 630, ../sass/screen.scss */
.bilboard {
  background-color: black;
  padding: 20px;
  position: relative;
  border: 7px solid black;
  z-index: 150;
}
/* line 636, ../sass/screen.scss */
.bilboard:before {
  position: absolute;
  content: "";
  background-color: transparent;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  border: 7px solid white;
  box-sizing: border-box;
}

/* line 649, ../sass/screen.scss */
.level-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 657, ../sass/screen.scss */
.level-background .ground {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 120px;
  z-index: 100;
}
/* line 666, ../sass/screen.scss */
.level-background .ceiling {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  z-index: 100;
  width: 100%;
}
/* line 675, ../sass/screen.scss */
.level-background .left-wall,
.level-background .right-wall {
  position: absolute;
  height: 100%;
  width: 50px;
  z-index: 99;
  bottom: 120px;
}
/* line 684, ../sass/screen.scss */
.level-background .left-wall {
  left: 0;
}
/* line 687, ../sass/screen.scss */
.level-background .right-wall {
  right: 0;
}
/* line 691, ../sass/screen.scss */
.level-background .character,
.level-background .character-2 {
  position: absolute;
  z-index: 101;
}
/* line 698, ../sass/screen.scss */
.level-background.level-1 {
  background-image: url(../img/level-1-background.png);
}
/* line 700, ../sass/screen.scss */
.level-background.level-1 .ceiling {
  background-image: url(../img/level-1-ceiling.png);
}
/* line 703, ../sass/screen.scss */
.level-background.level-1 .right-wall {
  background-image: url(../img/level-1-right-wall.png);
}
/* line 706, ../sass/screen.scss */
.level-background.level-1 .left-wall {
  background-image: url(../img/level-1-left-wall.png);
}
/* line 709, ../sass/screen.scss */
.level-background.level-1 .character {
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 120px;
  left: 0;
  -moz-animation: lefttoright 10s infinite linear;
  -webkit-animation: lefttoright 10s infinite linear;
  animation: lefttoright 10s infinite linear;
}
/* line 716, ../sass/screen.scss */
.level-background.level-1 .character:after {
  content: "";
  position: absolute;
  width: 43px;
  height: 60px;
  top: 0;
  left: 0;
  background: url(../img/level-1-character.png) left center;
  background-size: auto 100%;
  -moz-animation: character 0.8s steps(5) infinite;
  -webkit-animation: character 0.8s steps(5) infinite;
  animation: character 0.8s steps(5) infinite;
}
/* line 729, ../sass/screen.scss */
.level-background.level-1 .character-2 {
  background: url(../img/level-1-character-2.png) left center;
  background-size: auto 100%;
  width: 50px;
  height: 60px;
  position: absolute;
  bottom: 120px;
  right: 40px;
  -moz-animation: charactertwo 0.8s steps(2) infinite;
  -webkit-animation: charactertwo 0.8s steps(2) infinite;
  animation: charactertwo 0.8s steps(2) infinite;
}
/* line 739, ../sass/screen.scss */
.level-background.level-1 .ground {
  background-image: url(../img/level-1-ground.png);
}
/* line 744, ../sass/screen.scss */
.level-background.level-2 {
  background-image: url(../img/level-2-background.png);
}
/* line 746, ../sass/screen.scss */
.level-background.level-2 .ceiling {
  background-image: url(../img/level-2-ceiling.png);
}
/* line 749, ../sass/screen.scss */
.level-background.level-2 .right-wall {
  background-image: url(../img/level-2-right-wall.png);
}
/* line 752, ../sass/screen.scss */
.level-background.level-2 .left-wall {
  background-image: url(../img/level-2-left-wall.png);
}
/* line 755, ../sass/screen.scss */
.level-background.level-2 .character {
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 104px;
  left: 0;
  -moz-animation: lefttoright 10s infinite linear;
  -webkit-animation: lefttoright 10s infinite linear;
  animation: lefttoright 10s infinite linear;
}
/* line 762, ../sass/screen.scss */
.level-background.level-2 .character:after {
  content: "";
  position: absolute;
  width: 43px;
  height: 60px;
  top: 0;
  left: 0;
  background: url(../img/level-2-character.png) left center;
  background-size: auto 100%;
  -moz-animation: characterLevel2 0.8s steps(3) infinite;
  -webkit-animation: characterLevel2 0.8s steps(3) infinite;
  animation: characterLevel2 0.8s steps(3) infinite;
}
/* line 775, ../sass/screen.scss */
.level-background.level-2 .character-2 {
  background: url(../img/level-2-character-2.png) left center;
  background-size: auto 100%;
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 116px;
  right: 40px;
  -moz-animation: charactertwolevel2 0.8s steps(2) infinite;
  -webkit-animation: charactertwolevel2 0.8s steps(2) infinite;
  animation: charactertwolevel2 0.8s steps(2) infinite;
}
/* line 785, ../sass/screen.scss */
.level-background.level-2 .ground {
  background-image: url(../img/level-2-ground.png);
}
/* line 790, ../sass/screen.scss */
.level-background.level-3 {
  background-image: url(../img/level-3-background.png);
  background-position: bottom left;
}
/* line 793, ../sass/screen.scss */
.level-background.level-3 .ceiling {
  background-image: url(../img/level-3-ceiling.png);
}
/* line 796, ../sass/screen.scss */
.level-background.level-3 .right-wall {
  background-image: url(../img/level-3-right-wall.png);
}
/* line 799, ../sass/screen.scss */
.level-background.level-3 .left-wall {
  background-image: url(../img/level-3-left-wall.png);
}
/* line 802, ../sass/screen.scss */
.level-background.level-3 .character {
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 104px;
  left: 0;
  -moz-animation: lefttoright 10s infinite linear;
  -webkit-animation: lefttoright 10s infinite linear;
  animation: lefttoright 10s infinite linear;
}
/* line 809, ../sass/screen.scss */
.level-background.level-3 .character:after {
  content: "";
  position: absolute;
  width: 43px;
  height: 60px;
  top: 0;
  left: 0;
  background: url(../img/level-3-character.png) left center;
  background-size: auto 100%;
  -moz-animation: character 0.8s steps(5) infinite;
  -webkit-animation: character 0.8s steps(5) infinite;
  animation: character 0.8s steps(5) infinite;
}
/* line 822, ../sass/screen.scss */
.level-background.level-3 .character-2 {
  background: url(../img/level-3-character-2.png) left center;
  background-size: auto 100%;
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 116px;
  right: 40px;
  -moz-animation: charactertwolevel2 0.8s steps(2) infinite;
  -webkit-animation: charactertwolevel2 0.8s steps(2) infinite;
  animation: charactertwolevel2 0.8s steps(2) infinite;
}
/* line 832, ../sass/screen.scss */
.level-background.level-3 .ground {
  background-image: url(../img/level-3-ground.png);
}

@-moz-keyframes character {
  100% {
    background-position: -216px;
  }
}
@-webkit-keyframes character {
  100% {
    background-position: -216px;
  }
}
@keyframes character {
  100% {
    background-position: -216px;
  }
}
@-moz-keyframes characterLevel2 {
  100% {
    background-position: -129px;
  }
}
@-webkit-keyframes characterLevel2 {
  100% {
    background-position: -129px;
  }
}
@keyframes characterLevel2 {
  100% {
    background-position: -129px;
  }
}
@-moz-keyframes lefttoright {
  0% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(600px);
    transform: translateX(600px);
  }
}
@-webkit-keyframes lefttoright {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
}
@keyframes lefttoright {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
}
@-moz-keyframes charactertwo {
  100% {
    background-position: -102px;
  }
}
@-webkit-keyframes charactertwo {
  100% {
    background-position: -102px;
  }
}
@keyframes charactertwo {
  100% {
    background-position: -102px;
  }
}
@-moz-keyframes charactertwolevel2 {
  100% {
    background-position: -86px;
  }
}
@-webkit-keyframes charactertwolevel2 {
  100% {
    background-position: -86px;
  }
}
@keyframes charactertwolevel2 {
  100% {
    background-position: -86px;
  }
}
/* line 865, ../sass/screen.scss */
.highscore-table {
  color: white;
  width: 100%;
}
/* line 868, ../sass/screen.scss */
.highscore-table th {
  padding: 10px 5px 10px 5px;
  border-bottom: 2px solid white;
  font-size: 16px;
}
/* line 873, ../sass/screen.scss */
.highscore-table td {
  padding: 10px 5px 10px 5px;
  font-size: 14px;
}
