/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "FR73PixelW00-Regular";
  src: url('../fonts/fr73.ttf?1457892820') format('truetype');
}
/* line 10, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  font-family: "FR73PixelW00-Regular";
  position: absolute;
}

/* line 20, ../sass/screen.scss */
html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 26, ../sass/screen.scss */
body {
  background-color: #151d29;
  text-transform: uppercase;
}

/* line 31, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../sass/screen.scss */
button, input {
  font-family: "FR73PixelW00-Regular";
}

/* line 40, ../sass/screen.scss */
*:not(input, textarea) {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /* Disable selection/Copy of UIWebView */
}

/* line 46, ../sass/screen.scss */
#mobile-wrapper {
  position: absolute;
  width: 375px;
  height: 667px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-top: -333.5px;
  margin-left: -187.5px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0 34px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0 34px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 34px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 59, ../sass/screen.scss */
.screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: hidden;
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  display: none;
  opacity: 0;
}
/* line 73, ../sass/screen.scss */
.screen .screen-custom-container {
  margin-bottom: 10px;
}
/* line 76, ../sass/screen.scss */
.screen .screen-controls-container {
  position: relative;
  z-index: 4000;
}
/* line 79, ../sass/screen.scss */
.screen .screen-controls-container div,
.screen .screen-controls-container img,
.screen .screen-controls-container span {
  margin-bottom: 10px;
}
/* line 85, ../sass/screen.scss */
.screen .screen-header,
.screen .screen-description,
.screen .screen-label,
.screen .screen-number,
.screen .screen-number-big {
  color: white;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
  text-align: center;
}
/* line 95, ../sass/screen.scss */
.screen .screen-header {
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 10px;
}
/* line 101, ../sass/screen.scss */
.screen .screen-description {
  color: #c981fc;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 22px;
}
/* line 108, ../sass/screen.scss */
.screen .screen-label {
  color: #c981fc;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 114, ../sass/screen.scss */
.screen .screen-number-big {
  font-size: 25px;
}
/* line 117, ../sass/screen.scss */
.screen .screen-button-wide {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}
/* line 122, ../sass/screen.scss */
.screen .screen-button-narrow {
  display: block;
  max-width: 20%;
  margin: 0 auto;
}
/* line 127, ../sass/screen.scss */
.screen .screen-bottom-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 133, ../sass/screen.scss */
.screen .screen-bottom-container img {
  max-width: 60%;
  margin: 0 auto;
}

/* line 140, ../sass/screen.scss */
.menu-line {
  text-align: center;
  position: relative;
  z-index: 4000;
}
/* line 144, ../sass/screen.scss */
.menu-line img {
  max-width: 20%;
  margin: 0 10px 0 10px;
}

/* line 150, ../sass/screen.scss */
#titlefield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
}

/* line 164, ../sass/screen.scss */
#logo {
  max-width: 90%;
  margin: 0 auto;
}

/* line 169, ../sass/screen.scss */
.janstandard-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
/* line 175, ../sass/screen.scss */
.janstandard-wrapper img {
  max-width: 90%;
}

/* line 180, ../sass/screen.scss */
.jangame-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  z-index: 150;
}
/* line 186, ../sass/screen.scss */
.jangame-wrapper img {
  max-width: 60%;
}

/* line 191, ../sass/screen.scss */
#mainscreen {
  background-color: black;
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  background-position: center top;
  text-align: center;
  padding: 10px;
  z-index: 100;
  text-transform: uppercase;
  text-align: center;
  -moz-box-shadow: black 0 0 40px;
  -webkit-box-shadow: black 0 0 40px;
  box-shadow: black 0 0 40px;
}
/* line 202, ../sass/screen.scss */
#mainscreen img {
  display: inline-block;
  z-index: 150;
  position: relative;
}

/* line 211, ../sass/screen.scss */
.menu-item {
  display: inline-block;
  padding: 10px 20px;
  color: #242A31;
  border: 4px solid #242A31;
  background-color: #efefd5;
  font-family: "Pixel";
  font-size: 20px;
  text-transform: uppercase;
}

/* line 222, ../sass/screen.scss */
.plaintext {
  color: #efefd5;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  z-index: 150;
  line-height: 24px;
  position: relative;
  text-shadow: black 2px 2px 0;
}
/* line 233, ../sass/screen.scss */
.plaintext.small {
  font-size: 11px;
}

/* line 238, ../sass/screen.scss */
.highscore-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 162px solid transparent;
  width: 100%;
  overflow-y: scroll;
  padding: 0 30px 30px 30px;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

/* line 250, ../sass/screen.scss */
.inputbox {
  position: absolute !important;
  display: none;
  left: 50%;
  margin-left: -40%;
  top: 30%;
  width: 80%;
}
/* line 257, ../sass/screen.scss */
.inputbox .plaintext {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
/* line 261, ../sass/screen.scss */
.inputbox .plaintext.small {
  margin-top: 14px;
  line-height: 1.5;
}
/* line 266, ../sass/screen.scss */
.inputbox #username-input,
.inputbox #email-input {
  width: 100%;
  border: 0;
  padding: 10px;
  background-color: transparent;
  text-transform: uppercase;
  border-bottom: 1px solid #efefd5;
  margin-bottom: 20px;
  text-align: center;
  color: #efefd5;
  outline: none;
  font-size: 16px;
}
/* line 281, ../sass/screen.scss */
.inputbox .button-container {
  text-align: center;
}
/* line 284, ../sass/screen.scss */
.inputbox .submit {
  padding: 10px 20px;
  color: #242A31;
  background-color: #efefd5;
  font-family: "FR73PixelW00-Regular";
  font-size: 20px;
  border: 0;
  text-transform: uppercase;
}
/* line 292, ../sass/screen.scss */
.inputbox .submit.invert {
  background-color: #242A31;
  color: #efefd5;
}

/* line 299, ../sass/screen.scss */
#lives {
  height: 30px;
  width: 116px;
  overflow: hidden;
  position: absolute;
  left: 4px;
  bottom: 4px;
  background-image: url(../img/pixel-lives.png);
  background-size: auto 100%;
}

/* line 313, ../sass/screen.scss */
#loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 1000;
  -moz-animation: loop 1s infinite linear;
  -webkit-animation: loop 1s infinite linear;
  animation: loop 1s infinite linear;
  -moz-box-shadow: black 1px 1px 10px;
  -webkit-box-shadow: black 1px 1px 10px;
  box-shadow: black 1px 1px 10px;
}

/* line 330, ../sass/screen.scss */
#authenticationScreen {
  background-color: black;
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  background-position: center top;
  text-align: center;
  padding: 10px;
  z-index: 101;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 40px 0 40px;
  -moz-box-shadow: black 10px 10px 140px;
  -webkit-box-shadow: black 10px 10px 140px;
  box-shadow: black 10px 10px 140px;
}
/* line 341, ../sass/screen.scss */
#authenticationScreen:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 351, ../sass/screen.scss */
#authenticationScreen img {
  display: inline-block;
}
/* line 355, ../sass/screen.scss */
#authenticationScreen #facebookLoginButton,
#authenticationScreen #facebookLogoutButton {
  padding: 10px;
  display: inline-block;
  background-color: red;
  color: #efefd5;
  font-size: 20px;
  letter-spacing: 1px;
  -moz-box-shadow: black 1px 1px 0;
  -webkit-box-shadow: black 1px 1px 0;
  box-shadow: black 1px 1px 0;
}
/* line 366, ../sass/screen.scss */
#authenticationScreen #loginNoUser {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #efefd5;
  text-shadow: black 2px 2px 0;
  font-size: 16px;
  letter-spacing: 1;
}

@-moz-keyframes loop {
  0% {
    -moz-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -moz-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    -moz-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes loop {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@keyframes loop {
  0% {
    -moz-transform: rotate(0) scale(1);
    -ms-transform: rotate(0) scale(1);
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -moz-transform: rotate(180deg) scale(1.5);
    -ms-transform: rotate(180deg) scale(1.5);
    -webkit-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    -moz-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
/* line 389, ../sass/screen.scss */
#timer {
  position: absolute;
  left: 0;
  bottom: 40px;
  height: 10px;
  background-color: white;
  width: 100%;
  z-index: 150;
}

/* line 399, ../sass/screen.scss */
#bottomContainer {
  font-size: 20px;
  color: white;
  text-shadow: black 1px 1px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid white;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 413, ../sass/screen.scss */
#bottomContainer.visible {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 417, ../sass/screen.scss */
#bottomContainer #score {
  position: absolute;
  width: 50%;
  left: 50%;
  padding: 10px;
  text-align: right;
}

/* line 427, ../sass/screen.scss */
#levelContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  background-position: center top;
  -moz-perspective: 3000;
  -webkit-perspective: 3000;
  perspective: 3000;
}
/* line 437, ../sass/screen.scss */
#levelContainer .level-timer {
  position: absolute;
  width: 100%;
  background-color: #fb9817;
  left: 0;
  top: 0;
  height: 10px;
}
/* line 446, ../sass/screen.scss */
#levelContainer #countdown {
  position: absolute;
  left: 0;
  margin-left: 0;
  font-size: 40px;
  bottom: 50px;
  color: white;
  z-index: 150;
  width: 100%;
  padding: 0 20px 0 20px;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
}
/* line 459, ../sass/screen.scss */
#levelContainer #correct {
  position: absolute;
  left: 0;
  margin-left: 0;
  font-size: 40px;
  bottom: 50px;
  color: white;
  z-index: 150;
  width: 100%;
  text-align: right;
  padding: 0 20px 0 20px;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
}
/* line 469, ../sass/screen.scss */
#levelContainer #correct .small {
  font-size: 20px;
}
/* line 477, ../sass/screen.scss */
#levelContainer .answerbutton {
  text-align: center;
  margin: 20px auto 20px auto;
  max-width: 50%;
  display: block;
}
/* line 483, ../sass/screen.scss */
#levelContainer .questionContainer {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 20px 20px 20px;
  z-index: 150 !important;
}
/* line 491, ../sass/screen.scss */
#levelContainer .questionContainer .question {
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
}
/* line 503, ../sass/screen.scss */
#levelContainer .questionContainer.multipleChoice .alternative:before, #levelContainer .questionContainer.multipleChoice .alternative:after {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 508, ../sass/screen.scss */
#levelContainer .questionContainer .alternative {
  padding: 10px;
  padding-left: 65px;
  margin: 15px 0 15px 0;
  color: white;
  font-size: 14px;
  text-align: left;
  letter-spacing: 1;
  background-color: transparent;
  text-shadow: black 1px 1px 0;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  position: relative;
  text-shadow: 4px 4px 0px #000, -4px -4px 0px #000, -4px 4px 0px #000, 4px -4px 0px #000, 4px 0 0px #000, -4px 0 0px #000, 0 4px 0px #000, 0 -4px 0px #000;
}
/* line 521, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.faded {
  opacity: 0.6;
}
/* line 524, ../sass/screen.scss */
#levelContainer .questionContainer .alternative:before {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  left: 0;
  top: 0;
  content: "";
  border-radius: 50%;
  z-index: 2;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 536, ../sass/screen.scss */
#levelContainer .questionContainer .alternative:after {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: white;
  left: 10px;
  top: 10px;
  content: "";
  border-radius: 50%;
  z-index: 1;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 550, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.correct-answer {
  background-color: #4cc124;
}
/* line 553, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.wrong-answer {
  background-color: #FF0000;
}
/* line 557, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.selected:before {
  border: 1px solid black;
  -moz-transform: scale(-0.5);
  -ms-transform: scale(-0.5);
  -webkit-transform: scale(-0.5);
  transform: scale(-0.5);
}
/* line 561, ../sass/screen.scss */
#levelContainer .questionContainer .alternative.selected:after {
  opacity: 1;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

/* line 570, ../sass/screen.scss */
#statusscreen {
  background-image: url(../img/quiz-quest-splash.jpg);
  background-size: cover;
  text-align: center;
}

/* line 577, ../sass/screen.scss */
#correctAnswersCounter {
  display: inline-block;
}

/* line 585, ../sass/screen.scss */
.half-width {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

/* line 591, ../sass/screen.scss */
.clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 600, ../sass/screen.scss */
.start-button {
  background-image: url(../img/start-button-animated.png);
}

/* line 604, ../sass/screen.scss */
.high-score-button {
  background-image: url(../img/high-score-button-animated.png);
}

/* line 608, ../sass/screen.scss */
.button-round-animated {
  width: 71px;
  height: 71px;
  display: inline-block;
  background-size: auto 100%;
  position: relative;
}
/* line 614, ../sass/screen.scss */
.button-round-animated:active {
  background-position: -71px 0;
}

/* line 619, ../sass/screen.scss */
.answer-button {
  background-image: url(../img/answer-button-animated.png);
}

/* line 622, ../sass/screen.scss */
.to-menu-button {
  background-image: url(../img/to-menu-button-animated.png);
}

/* line 625, ../sass/screen.scss */
.new-game-button {
  background-image: url(../img/new-game-button-animated.png);
}

/* line 629, ../sass/screen.scss */
.go-back-button {
  background-image: url(../img/go-back-button-animated.png);
}

/* line 633, ../sass/screen.scss */
.button-wide {
  width: 155px;
  height: 55px;
  display: block;
  margin: 0 auto;
  background-size: auto 100%;
  position: relative;
}
/* line 640, ../sass/screen.scss */
.button-wide:active {
  background-position: -155px 0;
}

/* line 645, ../sass/screen.scss */
.over-background {
  position: relative;
  z-index: 101;
}

/* line 650, ../sass/screen.scss */
.bilboard {
  background-color: black;
  padding: 20px;
  position: relative;
  border: 7px solid black;
  z-index: 150;
}
/* line 656, ../sass/screen.scss */
.bilboard:before {
  position: absolute;
  content: "";
  background-color: transparent;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  border: 7px solid white;
  box-sizing: border-box;
}
/* line 667, ../sass/screen.scss */
.bilboard input,
.bilboard button,
.bilboard div {
  position: relative;
}

/* line 674, ../sass/screen.scss */
.level-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 682, ../sass/screen.scss */
.level-background .ground {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 120px;
  z-index: 100;
}
/* line 691, ../sass/screen.scss */
.level-background .ceiling {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  z-index: 100;
  width: 100%;
}
/* line 700, ../sass/screen.scss */
.level-background .left-wall,
.level-background .right-wall {
  position: absolute;
  height: 100%;
  width: 50px;
  z-index: 99;
  bottom: 120px;
}
/* line 709, ../sass/screen.scss */
.level-background .left-wall {
  left: 0;
}
/* line 712, ../sass/screen.scss */
.level-background .right-wall {
  right: 0;
}
/* line 716, ../sass/screen.scss */
.level-background .character,
.level-background .character-2 {
  position: absolute;
  z-index: 101;
}
/* line 723, ../sass/screen.scss */
.level-background.level-1 {
  background-color: black;
}
/* line 726, ../sass/screen.scss */
.level-background.level-1 .ground {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  background-color: white;
  width: 10px;
  height: 100%;
  -moz-box-shadow: rgba(22, 102, 239, 0.7) 0 0 25px;
  -webkit-box-shadow: rgba(22, 102, 239, 0.7) 0 0 25px;
  box-shadow: rgba(22, 102, 239, 0.7) 0 0 25px;
}
/* line 734, ../sass/screen.scss */
.level-background.level-1 .ground:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-box-shadow: rgba(22, 102, 239, 0.7) 0 0 5px inset;
  -webkit-box-shadow: rgba(22, 102, 239, 0.7) 0 0 5px inset;
  box-shadow: rgba(22, 102, 239, 0.7) 0 0 5px inset;
}
/* line 744, ../sass/screen.scss */
.level-background.level-1 .left-wall,
.level-background.level-1 .right-wall {
  height: 100px;
  width: 10px;
  -moz-box-shadow: rgba(22, 102, 239, 0.7) 0 0 25px;
  -webkit-box-shadow: rgba(22, 102, 239, 0.7) 0 0 25px;
  box-shadow: rgba(22, 102, 239, 0.7) 0 0 25px;
  bottom: 60px;
  background-color: white;
  left: 50%;
}
/* line 752, ../sass/screen.scss */
.level-background.level-1 .left-wall:after,
.level-background.level-1 .right-wall:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-box-shadow: rgba(22, 102, 239, 0.7) 0 0 5px inset;
  -webkit-box-shadow: rgba(22, 102, 239, 0.7) 0 0 5px inset;
  box-shadow: rgba(22, 102, 239, 0.7) 0 0 5px inset;
}
/* line 764, ../sass/screen.scss */
.level-background.level-1 .left-wall {
  margin-left: -120px;
  -moz-animation: movePaddleLeft 2s infinite linear;
  -webkit-animation: movePaddleLeft 2s infinite linear;
  animation: movePaddleLeft 2s infinite linear;
}
/* line 768, ../sass/screen.scss */
.level-background.level-1 .right-wall {
  margin-left: 95px;
  bottom: 10px;
  -moz-animation: movePaddleRight 1.5s infinite linear;
  -webkit-animation: movePaddleRight 1.5s infinite linear;
  animation: movePaddleRight 1.5s infinite linear;
}
/* line 774, ../sass/screen.scss */
.level-background.level-1 .character {
  width: 10px;
  height: 10px;
  -moz-box-shadow: rgba(22, 102, 239, 0.7) 0 0 25px;
  -webkit-box-shadow: rgba(22, 102, 239, 0.7) 0 0 25px;
  box-shadow: rgba(22, 102, 239, 0.7) 0 0 25px;
  bottom: 60px;
  left: 50%;
  margin-left: -5px;
  background-color: white;
  -moz-animation: movePongBall 1s infinite linear;
  -webkit-animation: movePongBall 1s infinite linear;
  animation: movePongBall 1s infinite linear;
}
/* line 783, ../sass/screen.scss */
.level-background.level-1 .character:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-box-shadow: rgba(22, 102, 239, 0.7) 0 0 10px inset;
  -webkit-box-shadow: rgba(22, 102, 239, 0.7) 0 0 10px inset;
  box-shadow: rgba(22, 102, 239, 0.7) 0 0 10px inset;
}
/* line 795, ../sass/screen.scss */
.level-background.level-4 {
  background-image: url(../img/level-4-background.png);
}
/* line 797, ../sass/screen.scss */
.level-background.level-4 .ceiling {
  background-image: url(../img/level-4-ceiling.png);
}
/* line 800, ../sass/screen.scss */
.level-background.level-4 .right-wall {
  background-image: url(../img/level-4-right-wall.png);
}
/* line 803, ../sass/screen.scss */
.level-background.level-4 .left-wall {
  background-image: url(../img/level-4-left-wall.png);
}
/* line 806, ../sass/screen.scss */
.level-background.level-4 .character {
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 120px;
  left: 0;
  -moz-animation: lefttoright 10s infinite linear;
  -webkit-animation: lefttoright 10s infinite linear;
  animation: lefttoright 10s infinite linear;
}
/* line 813, ../sass/screen.scss */
.level-background.level-4 .character:after {
  content: "";
  position: absolute;
  width: 43px;
  height: 60px;
  top: 0;
  left: 0;
  background: url(../img/level-4-character.png) left center;
  background-size: auto 100%;
  -moz-animation: character 0.8s steps(5) infinite;
  -webkit-animation: character 0.8s steps(5) infinite;
  animation: character 0.8s steps(5) infinite;
}
/* line 826, ../sass/screen.scss */
.level-background.level-4 .character-2 {
  background: url(../img/level-4-character-2.png) left center;
  background-size: auto 100%;
  width: 50px;
  height: 60px;
  position: absolute;
  bottom: 120px;
  right: 40px;
  -moz-animation: charactertwo 0.8s steps(2) infinite;
  -webkit-animation: charactertwo 0.8s steps(2) infinite;
  animation: charactertwo 0.8s steps(2) infinite;
}
/* line 836, ../sass/screen.scss */
.level-background.level-4 .ground {
  background-image: url(../img/level-4-ground.png);
}
/* line 841, ../sass/screen.scss */
.level-background.authentication-screen {
  background-image: url(../img/authentication-screen-background.png);
  background-color: black;
  background-size: 100% auto;
  background-position: top center;
}
/* line 846, ../sass/screen.scss */
.level-background.authentication-screen .ceiling {
  background-image: url(../img/authentication-screen-ground.png);
  height: 32px;
}
/* line 851, ../sass/screen.scss */
.level-background.authentication-screen .right-wall {
  background-image: url(../img/authentication-screen-right.png);
  width: 32px;
  height: 100%;
  bottom: 0;
}
/* line 857, ../sass/screen.scss */
.level-background.authentication-screen .left-wall {
  background-image: url(../img/authentication-screen-left.png);
  width: 32px;
  height: 100%;
  bottom: 0;
}
/* line 864, ../sass/screen.scss */
.level-background.authentication-screen .ground {
  height: 32px;
  background-image: url(../img/authentication-screen-ground.png);
}
/* line 870, ../sass/screen.scss */
.level-background.main-screen {
  background-color: black;
  background-size: 100% auto;
  background-position: top center;
}
/* line 876, ../sass/screen.scss */
.level-background.main-screen .ground {
  height: 32px;
  background-image: url(../img/authentication-screen-ground.png);
}
/* line 882, ../sass/screen.scss */
.level-background.level-3 {
  background-image: url(../img/level-3-background.png);
}
/* line 884, ../sass/screen.scss */
.level-background.level-3 .ceiling {
  background-image: url(../img/level-3-ceiling.png);
}
/* line 887, ../sass/screen.scss */
.level-background.level-3 .right-wall {
  background-image: url(../img/level-3-right-wall.png);
}
/* line 890, ../sass/screen.scss */
.level-background.level-3 .left-wall {
  background-image: url(../img/level-3-left-wall.png);
}
/* line 893, ../sass/screen.scss */
.level-background.level-3 .character {
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 104px;
  left: 0;
  -moz-animation: lefttoright 10s infinite linear;
  -webkit-animation: lefttoright 10s infinite linear;
  animation: lefttoright 10s infinite linear;
}
/* line 900, ../sass/screen.scss */
.level-background.level-3 .character:after {
  content: "";
  position: absolute;
  width: 43px;
  height: 60px;
  top: 0;
  left: 0;
  background: url(../img/level-3-character.png) left center;
  background-size: auto 100%;
  -moz-animation: characterLevel2 0.8s steps(3) infinite;
  -webkit-animation: characterLevel2 0.8s steps(3) infinite;
  animation: characterLevel2 0.8s steps(3) infinite;
}
/* line 913, ../sass/screen.scss */
.level-background.level-3 .character-3 {
  background: url(../img/level-3-character-2.png) left center;
  background-size: auto 100%;
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 116px;
  right: 40px;
  -moz-animation: charactertwolevel2 0.8s steps(2) infinite;
  -webkit-animation: charactertwolevel2 0.8s steps(2) infinite;
  animation: charactertwolevel2 0.8s steps(2) infinite;
}
/* line 923, ../sass/screen.scss */
.level-background.level-3 .ground {
  background-image: url(../img/level-3-ground.png);
}
/* line 928, ../sass/screen.scss */
.level-background.level-2 {
  background-image: url(../img/level-2-background.png);
  background-position: bottom left;
}
/* line 931, ../sass/screen.scss */
.level-background.level-2 .ceiling {
  background-image: url(../img/level-2-ceiling.png);
}
/* line 934, ../sass/screen.scss */
.level-background.level-2 .right-wall {
  background-image: url(../img/level-2-right-wall.png);
}
/* line 937, ../sass/screen.scss */
.level-background.level-2 .left-wall {
  background-image: url(../img/level-2-left-wall.png);
}
/* line 940, ../sass/screen.scss */
.level-background.level-2 .character {
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 104px;
  left: 0;
  -moz-animation: lefttoright 10s infinite linear;
  -webkit-animation: lefttoright 10s infinite linear;
  animation: lefttoright 10s infinite linear;
}
/* line 947, ../sass/screen.scss */
.level-background.level-2 .character:after {
  content: "";
  position: absolute;
  width: 43px;
  height: 60px;
  top: 0;
  left: 0;
  background: url(../img/level-2-character.png) left center;
  background-size: auto 100%;
  -moz-animation: character 0.8s steps(5) infinite;
  -webkit-animation: character 0.8s steps(5) infinite;
  animation: character 0.8s steps(5) infinite;
}
/* line 960, ../sass/screen.scss */
.level-background.level-2 .character-2 {
  background: url(../img/level-2-character-2.png) left center;
  background-size: auto 100%;
  width: 43px;
  height: 60px;
  position: absolute;
  bottom: 116px;
  right: 40px;
  -moz-animation: charactertwolevel2 0.8s steps(2) infinite;
  -webkit-animation: charactertwolevel2 0.8s steps(2) infinite;
  animation: charactertwolevel2 0.8s steps(2) infinite;
}
/* line 970, ../sass/screen.scss */
.level-background.level-2 .ground {
  background-image: url(../img/level-2-ground.png);
}
/* line 975, ../sass/screen.scss */
.level-background.level-5 {
  background-image: none;
  background-color: #00282f;
  background-position: bottom left;
}
/* line 980, ../sass/screen.scss */
.level-background.level-5 .character {
  width: 70px;
  height: 97px;
  position: absolute;
  bottom: 62px;
  left: 0;
  -moz-animation: lefttoright 10s infinite linear;
  -webkit-animation: lefttoright 10s infinite linear;
  animation: lefttoright 10s infinite linear;
}
/* line 987, ../sass/screen.scss */
.level-background.level-5 .character:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 97px;
  top: 0;
  left: 0;
  background: url(../img/level-5-character.png) left center;
  background-size: auto 100%;
  -moz-animation: characterLevel5 0.8s steps(6) infinite;
  -webkit-animation: characterLevel5 0.8s steps(6) infinite;
  animation: characterLevel5 0.8s steps(6) infinite;
}
/* line 1000, ../sass/screen.scss */
.level-background.level-5 .ground {
  background-image: url(../img/level-5-ground.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100%;
}
/* line 1007, ../sass/screen.scss */
.level-background.level-6 {
  background-image: none;
  background-color: #ffffff;
  background-position: bottom left;
}
/* line 1012, ../sass/screen.scss */
.level-background.level-6 .character {
  width: 85px;
  height: 118px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  margin-left: -30px;
}
/* line 1019, ../sass/screen.scss */
.level-background.level-6 .character:after {
  content: "";
  position: absolute;
  width: 85px;
  height: 118px;
  top: 0;
  left: 0;
  background: url(../img/level-6-character.png) left center;
  background-size: auto 100%;
  -moz-animation: characterLevel6 3s steps(4) infinite;
  -webkit-animation: characterLevel6 3s steps(4) infinite;
  animation: characterLevel6 3s steps(4) infinite;
}
/* line 1032, ../sass/screen.scss */
.level-background.level-6 .ground {
  background-image: url(../img/level-6-ground.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100%;
}

@-moz-keyframes character {
  100% {
    background-position: -216px;
  }
}
@-webkit-keyframes character {
  100% {
    background-position: -216px;
  }
}
@keyframes character {
  100% {
    background-position: -216px;
  }
}
@-moz-keyframes characterLevel5 {
  100% {
    background-position: -420px;
  }
}
@-webkit-keyframes characterLevel5 {
  100% {
    background-position: -420px;
  }
}
@keyframes characterLevel5 {
  100% {
    background-position: -420px;
  }
}
@-moz-keyframes characterLevel6 {
  100% {
    background-position: -340px;
  }
}
@-webkit-keyframes characterLevel6 {
  100% {
    background-position: -340px;
  }
}
@keyframes characterLevel6 {
  100% {
    background-position: -340px;
  }
}
@-moz-keyframes characterLevel2 {
  100% {
    background-position: -129px;
  }
}
@-webkit-keyframes characterLevel2 {
  100% {
    background-position: -129px;
  }
}
@keyframes characterLevel2 {
  100% {
    background-position: -129px;
  }
}
@-moz-keyframes lefttoright {
  0% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(600px);
    transform: translateX(600px);
  }
}
@-webkit-keyframes lefttoright {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
}
@keyframes lefttoright {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
}
@-moz-keyframes charactertwo {
  100% {
    background-position: -102px;
  }
}
@-webkit-keyframes charactertwo {
  100% {
    background-position: -102px;
  }
}
@keyframes charactertwo {
  100% {
    background-position: -102px;
  }
}
@-moz-keyframes movePongBall {
  33.3333% {
    -moz-transform: translateX(-110px);
    transform: translateX(-110px);
  }
  66.6666% {
    -moz-transform: translateX(95px);
    transform: translateX(95px);
  }
}
@-webkit-keyframes movePongBall {
  33.3333% {
    -webkit-transform: translateX(-110px);
    transform: translateX(-110px);
  }
  66.6666% {
    -webkit-transform: translateX(95px);
    transform: translateX(95px);
  }
}
@keyframes movePongBall {
  33.3333% {
    -moz-transform: translateX(-110px);
    -ms-transform: translateX(-110px);
    -webkit-transform: translateX(-110px);
    transform: translateX(-110px);
  }
  66.6666% {
    -moz-transform: translateX(95px);
    -ms-transform: translateX(95px);
    -webkit-transform: translateX(95px);
    transform: translateX(95px);
  }
}
@-moz-keyframes charactertwo {
  100% {
    background-position: -102px;
  }
}
@-webkit-keyframes charactertwo {
  100% {
    background-position: -102px;
  }
}
@keyframes charactertwo {
  100% {
    background-position: -102px;
  }
}
@-moz-keyframes movePaddleLeft {
  50% {
    -moz-transform: translateY(80px);
    transform: translateY(80px);
  }
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes movePaddleLeft {
  50% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes movePaddleLeft {
  50% {
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes movePaddleRight {
  50% {
    -moz-transform: translateY(-60px);
    transform: translateY(-60px);
  }
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes movePaddleRight {
  50% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes movePaddleRight {
  50% {
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes charactertwolevel2 {
  100% {
    background-position: -86px;
  }
}
@-webkit-keyframes charactertwolevel2 {
  100% {
    background-position: -86px;
  }
}
@keyframes charactertwolevel2 {
  100% {
    background-position: -86px;
  }
}
/* line 1099, ../sass/screen.scss */
.highscore-table {
  color: white;
  width: 100%;
}
/* line 1102, ../sass/screen.scss */
.highscore-table th {
  padding: 10px 5px 10px 5px;
  border-bottom: 2px solid white;
  font-size: 16px;
}
/* line 1107, ../sass/screen.scss */
.highscore-table td {
  padding: 10px 5px 10px 5px;
  font-size: 14px;
}

/* line 1113, ../sass/screen.scss */
#statusscreen-score-to-beat {
  color: white;
}

/* line 1118, ../sass/screen.scss */
.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}
